/*===========================================*/
/*	DESKTOP LAYOUT 
/*===========================================*/


@media (min-width: 1200px) {
	.carousel {
		width: 36%;
	}

	
}
@media (min-width: 992px) and (max-width: 1199px) {
	
}

@media (min-width: 992px) {
		
}

/*===========================================*/
/*	MOBILE & TABLET COMMON
/*===========================================*/
@media (min-width: 200px) and (max-width: 991px) {
	
}


/*===========================================*/
/*	TABLET
/*===========================================*/
@media (min-width: 768px) and (max-width: 991px) {

}


/*===========================================*/
/*	MOBILE
/*===========================================*/
@media (min-width: 200px) and (max-width: 767px) {
	
}
@media (min-width: 600px) and (max-width: 767px) {

}
@media (min-width: 480px) and (max-width: 599px) {
	.intro-section-27 .l .logo {
      background-image: url('../img/logo4.png');
      width: 305px;
      height: 85px;
      display: inline-block;
      padding-top: 60px;
      background-repeat: no-repeat;
      background-position: center;
  }
  #suggestions {
    width: 355px !important;
    margin-left: -30px !important;
  }

}
@media (min-width: 200px) and (max-width: 479px) {
	.intro-section-27 .l .logo {
      background-image: url('../img/logo2.png');
      width: 305px;
      height: 55px;
      display: inline-block;
      padding-top: 60px;
      background-repeat: no-repeat;
      background-position: center;

  }
  #suggestions {
    width: 290px !important;
    margin-left: 0px !important;
  }

  .newsletter1 .form-field .btn {
    position: absolute;
    top: 50px !important;
    right: 0px;
    border-radius: 2px;
  }
}