/* TABLE OF CONTENTS

    Author: themeinjection
    Template: Accommodation (Landing Page)
    Version: 1.0
    URL: http://themeforest.net/user/themeinjection

	1. Default Configs
    2. Labels
    3. Tooltip
    4. Top Navbar
    5. Teaser Slider
    6. Call to Action
    7. Features
    8. Room Tabs
    9. Location
    10. Attractions
    11. Newsletter
    12. Reviews
    13. About
    14. Counter
    15. Rates
    16. Services
    17. Content
    18. Partners
    19. Contact
    20. Address
    21. Footer
    22. Scroll Up Button
    23. Inquiry Modal
    24. Breakpoints / Media Queries
    25. Helper Classes
    26. Change default Nav Breakpoint
*/
html {
  -webkit-font-smoothing: antialiased;
}
body {
  font-family: 'Open Sans', sans-serif;
  color: #585858;
  line-height: 25px;
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
/* 1. Default Configs
-------------------------------------*/
/*.ng-scope {
    margin-top: 100px;
}*/

/*.angular-google-map {
  height: 100%;
}*/
.angular-google-map-container {
  height: 700px;
}

.content-after-slider {
  z-index: 10;
  background-color: #fff;
  position: relative;
}
.btn {
  border-radius: 3px;
  border: none;
  padding: 13px 23px;
  -webkit-transition: all 0.08s ease-in;
          transition: all 0.08s ease-in;
          margin-left: 15px;
}
.btn-color1 {
  background-color: #631c8c;
  color: #fff;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
.btn-color1:hover {
  background-color: #4f176f;
  color: #fff;
}
.btn-color1:focus {
  background-color: #219eaf;
  color: #fff;
}
.btn-color2 {
  background-color: #f1f1f1;
  color: #fff;
}
.btn-color3 {
  background-color: #eaf5f7;
  color: #fff;
}
.btn-color4 {
  background-color: #979797;
  color: #fff;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
.btn-color4:hover {
  background-color: #7d7a7a;
  color: #fff;
}
::-moz-selection {
  background: #57bcca;
  color: #ffffff;
}
::selection {
  background: #57bcca;
  color: #ffffff;
}
::-moz-selection {
  background: #57bcca;
  color: #ffffff;
}
.form-control::-webkit-input-placeholder {
  color: #808080;
}
.form-control:-moz-placeholder {
  color: #808080;
  opacity: 1;
}
.form-control::-moz-placeholder {
  color: #808080;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #808080;
}
.sc-animate {
  visibility: hidden;
}
.img-responsive {
  width: 100%;
}
.modal-open {
  padding-right: 0 !important;
}
.datepicker table tr td.today {
  background: #57bcca;
  background-image: none;
}
/* 2. Labels
--------------------------------------------*/
.label {
  font-size: 80%;
  font-weight: 600;
  padding-top: 4px;
}
.label-default {
  background-color: #57bcca;
}
/* 3. Tooltip
--------------------------------------------*/
.tooltip .tooltip-inner {
  background-color: #57bcca;
  padding: 5px 10px;
  font-size: 14px;
  opacity: 1;
}
.tooltip.top .tooltip-arrow {
  border-top-color: #57bcca !important;
}
.tooltip.left .tooltip-arrow {
  border-left-color: #57bcca !important;
}
.tooltip.right .tooltip-arrow {
  border-right-color: #57bcca !important;
}
.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #57bcca !important;
}
.my-tooltip {
  border-bottom: 1px dotted #57bcca;
  color: #57bcca;
}
/* 4. Top Navbar
-------------------------------------*/
.top-navbar {
  background-color: #fff;
  min-height: 100px;
  padding: 0 50px;
  border-bottom: 5px solid #302b2c;
  z-index: 15;
  width: 100%;
}
.top-navbar .navbar-brand {
  margin-top: 6px;
}
.top-navbar .navbar-default {
  border: none;
  background-color: #ffffff;
}
.top-navbar .navbar-default .navbar-nav {
  margin-top: 25px;
  margin-right: 0;
}
.top-navbar .navbar-default .navbar-nav a {
  color: #4a4a4a;
  cursor: pointer;
}
.top-navbar .navbar-default .navbar-nav a:hover {
  color: #590b85;
  cursor: pointer;
}
.top-navbar .navbar-default .navbar-nav .active > a {
  background-color: #ffffff;
  font-size: 16px;
  color: #302b2c;
  text-decoration: none;
}
.top-navbar .navbar-default .navbar-nav .active > a:after {
  content: '';
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #302b2c;
  position: absolute;
  left: 50%;
  bottom: -22px;
  margin-left: -5px;
}
.top-navbar .navbar-default .navbar-nav .language-select {
  margin-top: 13px;
  margin-left: 10px;
  position: relative;
}
.top-navbar .navbar-default .navbar-nav .language-select a {
  border: 1px solid #ebebeb;
  padding: 5px 15px 5px 8px;
  color: #585858;
  text-decoration: none;
}
.top-navbar .navbar-default .navbar-nav .language-select a img {
  margin-top: -3px;
}
.top-navbar .navbar-default .navbar-nav .language-select a i {
  color: #57bcca;
  margin-left: 10px;
}
.top-navbar .navbar-default .navbar-nav .language-select .dropdown-menu-language-select {
  box-shadow: none;
  position: absolute;
  top: 23px;
  left: 0;
  right: auto;
  border-radius: 0;
}
.top-navbar .navbar-default .navbar-nav .language-select .dropdown-menu-language-select a {
  border: none;
}
/* 5. Teaser Slider
-------------------------------------*/
.teaser-slider {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 0;
}
.teaser-slider .item {
  height: 650px;
  background-color: #f1f1f1;
}
.teaser-slider .item .carousel-caption {
  display: none;
}
.teaser-slider .item img {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}
.teaser-slider .carousel-control {
  width: 58px;
  height: 74px;
  background-image: none;
  background-color: #57bcca;
  background-repeat: no-repeat;
  text-shadow: none;
  top: 50%;
  margin-top: -37px;
  padding-top: 25px;
}
.teaser-slider-ph {
  height: 550px;
  pointer-events: none;
  background: transparent url('../img/transparent.png');
}
/* 6. Call to Action
-------------------------------------*/
.call-to-action {
  position: absolute;
  margin-top: -25px;
  margin-right: auto;
  margin-left: auto;
  left: 0;
  right: 0;
  z-index: 1;
}
.call-to-action .call-to-action-box {
    height: 75px;
    padding-top: 8px;
    border-bottom: 7px solid #57bcca;
    background-color: #ffffff;
    position: relative;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.call-to-action .call-to-action-box:hover {
  border-bottom-color: #219eaf;
}
.call-to-action .call-to-action-button {
  border: none;
  font-size: 19px;
  padding: 20px 30px 15px;
  vertical-align: top;
}
.call-to-action .call-to-action-button i {
  font-size: 30px;
  margin: -4px 10px 0 0;
  display: block;
  float: left;
}
.call-to-action .call-to-action-phone {
  display: block;
  font-size: 17px;
  color: #4a4a4a;
  font-weight: 400;
  margin-top: 20px;
  text-decoration: none;
}
.call-to-action .call-to-action-triangle {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 30px solid #ffffff;
  position: absolute;
  left: 50%;
  top: -30px;
  margin-left: -30px;
}
/* 7. Features
-------------------------------------*/
.features {
  padding-top: 160px;
  padding-bottom: 85px;
  background-color: #f1f1f1;
}
.features h2 {
  text-align: center;
  font-size: 48px;
  font-weight: lighter;
  margin: 0 0 78px 0;
  padding: 0;
  color: #4a4a4a;
}
.features .feature {
  border-bottom: 7px solid #57bcca;
  background-color: #fff;
  padding-top: 34px;
  text-align: center;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
.features .feature .feature-icon {
  width: 142px;
  height: 142px;
  margin: 0 auto;
  border: 2px solid #57bcca;
  border-radius: 71px;
  text-align: center;
  font-size: 50px;
  color: #57bcca;
  line-height: 142px;
  position: relative;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
.features .feature .feature-icon:after {
  content: '';
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #57bcca;
  position: absolute;
  left: 50%;
  bottom: 0px;
  margin-left: -4px;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
.features .feature h3 {
  margin: 30px 0;
  padding: 0;
  font-size: 22px;
  font-weight: 400;
  color: #4a4a4a;
}
.features .feature p {
  margin: 0 10px 30px 10px;
  font-size: 14px;
}
.features .feature:hover {
  border-bottom-color: #219eaf;
}
.features .feature:hover .feature-icon {
  border-color: #219eaf;
  color: #219eaf;
}
.features .feature:hover .feature-icon i {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}
.features .feature:hover .feature-icon:after {
  border-bottom-color: #219eaf;
}
/* 8. Room Tabs
-------------------------------------*/
.room-tabs {
  background-color: #ffffff;
  padding: 80px 0 85px 0;
}
.room-tabs h2 {
  font-size: 36px;
  font-weight: 300;
  margin-bottom: 35px;
  color: #4a4a4a;
}
.room-tabs .room-tabs-info {
  margin-bottom: 12px;
}
.room-tabs .room-tabs-info img {
  float: left;
}
.room-tabs .nav-tabs {
  margin-bottom: 47px;
  font-size: 18px;
  border-bottom: 7px solid #e3e3e3;
}
.room-tabs .nav-tabs li {
  margin-bottom: -7px;
  border-right: 2px solid #fff;
}
.room-tabs .nav-tabs li a {
  margin: 0;
  color: #4a4a4a;
  background-color: #fff;
  border-radius: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 7px solid #e3e3e3;
}
.room-tabs .nav-tabs li a:hover {
  background-color: #eaf5f7;
  border-bottom: 7px solid #e3e3e3;
}
.room-tabs .nav-tabs li.active a {
  color: #585858;
  background-color: #fff;
  border-radius: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 7px solid #57bcca;
}
.room-tabs .room-tabs-gallery .room-tabs-gallery-thumbnails {
  width: 75px;
  float: left;
}
.room-tabs .room-tabs-gallery .room-tabs-gallery-thumbnails a {
  margin-bottom: 10px;
  display: block;
}
.room-tabs .room-tabs-gallery .room-tabs-gallery-image {
  width: 472px;
  float: right;
}
.room-tabs .room-tabs-gallery .room-tabs-gallery-image .room-tabs-gallery-preview-container {
  height: 365px;
  overflow: hidden;
  display: block;
  position: relative;
}
.room-tabs .room-tabs-gallery .room-tabs-gallery-caption {
  position: relative;
  background-color: #57bcca;
  color: #fff;
  border-top: 1px solid #fff;
  padding: 15px 20px 0 20px;
  height: 55px;
  font-size: 14px;
  z-index: 20;
}
.room-tabs .room-tabs-gallery .room-tabs-gallery-caption .btn-room-check {
  float: right;
  background-color: #57bcca;
  border: 1px solid #fff;
  font-size: 14px;
  margin-top: -5px;
  font-weight: 400;
  padding: 6px 12px;
}
.room-tabs .room-tabs-gallery .room-tabs-gallery-caption .btn-room-check i {
  margin-right: 5px;
}
.room-tabs .room-tabs-gallery .room-tabs-gallery-caption .btn-room-check:hover {
  background-color: #219eaf;
  color: #fff;
}
.room-tabs .room-tabs-gallery .room-tabs-gallery-caption:before {
  content: '';
  width: 0;
  height: 0;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-bottom: 16px solid #fff;
  position: absolute;
  left: 50%;
  top: -16px;
  margin-left: -16px;
}
.room-tabs .room-tabs-gallery .room-tabs-gallery-caption:after {
  content: '';
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #57bcca;
  position: absolute;
  left: 50%;
  top: -15px;
  margin-left: -15px;
}
.room-tabs .room-tabs-description h3 {
  font-size: 22px;
  color: #57bcca;
  margin-bottom: 20px;
}
.room-tabs .room-tabs-checklist {
  margin-top: 15px;
  margin-bottom: 0;
}
.room-tabs .room-tabs-checklist li {
  border: none;
  padding: 0 0 6px 0;
  font-weight: 600;
}
.room-tabs .room-tabs-checklist li:last-of-type {
  padding-bottom: 0;
}
.room-tabs .room-tabs-checklist li i {
  color: #57bcca;
  font-size: 18px;
  float: left;
  margin-right: 8px;
  display: block;
  margin-top: 6px;
}
.modal-backdrop.in {
  opacity: 0.9;
  background-color: #213437;
}
#roomTabsGalleryPreviewModal .modal-dialog {
  z-index: 100;
  min-width: 300px;
  margin-top: 100px;
}
#roomTabsGalleryPreviewModal .modal-dialog .modal-content .modal-nav {
  position: absolute;
  top: -42px;
  width: 100%;
  color: #fff;
}
#roomTabsGalleryPreviewModal .modal-dialog .modal-content .modal-nav .title {
  margin-top: 9px;
}
#roomTabsGalleryPreviewModal .modal-dialog .modal-content .modal-nav .close {
  height: 43px;
  font-size: 32px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  opacity: 1;
}
#roomTabsGalleryPreviewModal .modal-dialog .modal-content .modal-body {
  padding: 0;
}
#roomTabsGalleryPreviewModal .modal-dialog .modal-content .modal-body img {
  border: 1px solid #fff;
}
/* 9. Location
-------------------------------------*/
.location .location-map-container {
  height: 0px;
}
.location .location-address {
  background-color: #57bcca;
  color: #fff;
  font-size: 20px;
  height: 80px;
  opacity: 0.9;
  margin-top: -80px;
}
.location .location-address address {
  padding-top: 20px;
}
.location .location-address i {
  font-size: 36px;
}

/* 13. About
-------------------------------------*/
.about {
  padding: 80px 0 85px 0;
}
.about .about-image {
  padding-bottom: 1px;
  border-bottom: 7px solid #57bcca;
}
.about h2 {
  color: #4a4a4a;
  font-size: 36px;
  font-weight: 300;
  margin-bottom: 35px;
}
.about p {
  font-size: 18px;
  line-height: 32px;
  font-weight: 300;
  color: #383838;
}
.about .about-signature {
  margin-top: 35px;
}
.about .about-signature img {
  width: auto;
}
/* 14. Counter
-------------------------------------*/
.counter {
  padding: 85px 0;
  background-color: #eaf5f7;
}
.counter .counter-icon {
  font-size: 64px;
  color: #57bcca;
  float: left;
  display: block;
  margin-right: 15px;
  width: 65px;
  height: 65px;
}
.counter .counter-number {
  font-size: 40px;
  color: #57bcca;
  margin-left: 80px;
  padding-top: 10px;
  padding-bottom: 8px;
}
.counter .counter-description {
  font-size: 15px;
  margin-left: 80px;
  font-weight: 400;
  color: #4a4a4a;
}
/* 15. Rates
-------------------------------------*/
.rates {
  padding: 80px 0 85px 0;
}
.rates h2 {
  text-align: center;
  font-size: 48px;
  font-weight: lighter;
  margin: 0 0 85px 0;
  padding: 0;
  color: #4a4a4a;
}
.rates .rate {
  padding: 0;
}
.rates .rate-box {
  border-top: 1px solid #bebebe;
  border-bottom: 1px solid #bebebe;
  border-left: 1px solid #bebebe;
  text-align: center;
  padding: 30px 20px;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
.rates .rate-box .rate-icon {
  color: #cccacc;
  font-size: 53px;
  line-height: 0;
}
.rates .rate-box .rate-icon .stars {
  font-size: 14px;
}
.rates .rate-box .rate-description {
  font-size: 18px;
  margin: 35px 0;
  display: block;
  text-transform: uppercase;
  color: #4a4a4a;
}
.rates .rate-box .rate-price {
  display: inline-block;
  color: #57bcca;
  line-height: 1;
  margin-bottom: 45px;
}
.rates .rate-box .rate-price .rate-price-currency {
  font-size: 20px;
  float: left;
  display: block;
  margin-top: 14px;
}
.rates .rate-box .rate-price .rate-price-amount {
  font-size: 93px;
  float: left;
  display: block;
  font-weight: 600;
}
.rates .rate-box .rate-price .rate-price-duration {
  font-size: 14px;
  float: left;
  display: block;
  margin-top: 70px;
}
.rates .rate-box .rate-action button {
  background-color: #57bcca;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
}
.rates .rate-box .rate-action button i {
  font-size: 27px;
  margin: 0 7px 0 0;
  vertical-align: sub;
}
.rates .rate-box .rate-action button:hover {
  background-color: #219eaf;
}
.rates .rate-box:last-of-type {
  border-right: 1px solid #bebebe;
}
.rates .rate-box.highlight {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
  z-index: 10;
  background-color: #57bcca;
  border: none;
}
.rates .rate-box.highlight .rate-icon {
  color: #eaf5f7;
}
.rates .rate-box.highlight .rate-description {
  color: #fff;
}
.rates .rate-box.highlight .rate-price {
  color: #fff;
}
.rates .rate-box.highlight .rate-action button {
  border: 2px solid #fff;
}
.rates .rate-box.highlight + .rate-box {
  border-left: none;
}
.rates .rates-payment-info {
  text-align: center;
  margin-top: 65px;
}
.rates .rates-payment-info p {
  font-size: 20px;
  display: inline-block;
  font-weight: 300;
  margin-right: 10px;
}
.rates .rates-payment-info img {
  vertical-align: middle;
  height: 40px;
  margin-top: -9px;
}
/* 16. Services
-------------------------------------*/
.services {
  padding: 80px 0 37px 0;
  background-color: #f1f1f1;
}
.services h2 {
  text-align: center;
  font-size: 48px;
  font-weight: lighter;
  margin: 0 0 88px 0;
  padding: 0;
  color: #4a4a4a;
}
.services .service {
  margin-bottom: 53px;
}
.services .service .service-icon {
  width: 60px;
  height: 60px;
  margin: -20px auto 0 auto;
  border: 2px solid #57bcca;
  border-radius: 31px;
  text-align: center;
  font-size: 22px;
  color: #57bcca;
  line-height: 57px;
  position: relative;
  float: left;
}
.services .service .service-icon:after {
  content: '';
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #57bcca;
  position: absolute;
  left: 50%;
  bottom: 0px;
  margin-left: -6px;
}
.services .service h3 {
  margin: 0 0 6px 77px;
  font-size: 20px;
  font-weight: 400;
  color: #4a4a4a;
}
.services .service p {
  margin: 0 0 0 77px;
}
/* 17. Content
-------------------------------------*/
.content {
  padding: 80px 0 85px 0;
}
.content h2 {
  font-size: 36px;
  font-weight: 300;
  margin-bottom: 30px;
  color: #4a4a4a;
}
.content h3 {
  margin-bottom: 25px;
  font-size: 20px;
  color: #57bcca;
  font-weight: normal;
  line-height: 1.6;
}
.content p {
  margin-bottom: 25px;
}
.content p:last-of-type {
  margin-bottom: 0;
}
.content .btn {
  font-weight: 600;
}
.content .content-img-box {
  padding-bottom: 1px;
  border-bottom: 7px solid #57bcca;
}
.content .content-img-left,
.content .content-img-right {
  margin-bottom: 85px;
}
.content .content-img-left:last-of-type,
.content .content-img-right:last-of-type {
  margin-bottom: 0;
}
/* 18. Partners
-------------------------------------*/
.partners {
  background-color: #f1f1f1;
}
.partners .partners-container {
  padding: 45px 15px 80px 15px;
}
.partners .partner-img {
  background-color: #fff;
}
.partners h2 {
  font-size: 14px;
  margin: 0 0 25px 0;
  color: #57bcca;
}
/* 19. Contact
-------------------------------------*/
.contact {
  padding: 80px 0 85px 0;
}
.contact h2 {
  font-size: 36px;
  font-weight: 300;
  margin-bottom: 20px;
  color: #4a4a4a;
}
.contact h3 {
  margin-bottom: 25px;
  font-size: 20px;
  font-weight: 600;
  color: #57bcca;
}
.contact .contact-header {
  margin-bottom: 45px;
  padding-bottom: 22px;
  border-bottom: 1px solid #dcdcdc;
}
.contact .contact-img {
  float: left;
  margin-right: 20px;
  padding: 1px;
  border: 2px solid #d0cccc;
  width: 83px;
}
.contact .contact-person {
  font-size: 20px;
  font-weight: 600;
}
.contact .contact-title {
  font-weight: 400;
}
.contact .contact-phone {
  font-size: 20px;
  font-weight: 600;
  color: #57bcca;
  margin-top: 8px;
}
.contact .contact-phone i {
  font-size: 30px;
  margin-right: 10px;
  display: block;
  float: left;
  margin-top: -3px;
}
.contact .input-group {
  border: 1px solid #f5f5f5;
  background-color: #f1f1f1;
  padding: 10px 2px;
  height: 58px;
  margin-bottom: 14px;
}
.contact .input-group .input-group-addon {
  background-color: #f1f1f1;
  color: #57bcca;
  border: none;
  font-size: 24px;
  border-right: 1px solid #57bcca;
}
.contact .input-group .form-control {
  background-color: #f1f1f1;
  border: none;
  box-shadow: none;
  font-size: 18px;
  font-weight: 400;
}
.contact .input-group.textbox {
  width: 100%;
}
.contact .input-group.textbox .input-group-addon {
  height: 44px;
  width: 55px;
  display: block;
  float: left;
}
.contact .input-group.textbox .input-group-addon i {
  vertical-align: middle;
}
.contact .input-group.textbox textarea {
  float: left;
  width: 490px;
}
.contact .contact-form-info {
  float: left;
  margin-top: 11px;
  color: #585858;
  font-size: 12px;
}
.contact .btn-contact-form {
  float: right;
  font-weight: 600;
}
.contact .btn-contact-form i {
  margin-top: -4px;
  margin-left: 2px;
}
/* 20. Address
-------------------------------------*/
.address {
  padding: 70px 0 70px 0;
  background-color: #eaf5f7;
  text-align: center;
}
.address h2 {
  margin-bottom: 15px;
}
.address address {
  font-size: 20px;
  color: #57bcca;
  margin-bottom: 10px;
}
.address .address-info {
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  color: #4a4a4a;
}
.address .phones {
  margin-top: 30px;
  list-style: none;
  color: #57bcca;
  font-size: 24px;
  padding: 0;
}
.address .phones li {
  display: inline-block;
  padding: 0 15px;
}
.address .phones li i {
  font-size: 36px;
  vertical-align: sub;
  margin-right: 7px;
}
/* 21. Footer
-------------------------------------*/
footer {
  background-color: #302b2c;
  color: #fff;
  position: relative;
  min-height: 85px;
}
footer .footer-copyright {
  margin-top: 34px;
  font-size: 18px;
  font-weight: 300;
}
footer .footer-social-media {
  list-style: none;
  font-size: 24px;
  margin-top: 30px;
}
footer .footer-social-media li {
  display: inline-block;
  padding: 0 10px;
  float: right;
}
footer .footer-social-media a {
  color: #fff;
}
footer:after {
  content: '';
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 30px solid #302b2c;
  position: absolute;
  left: 50%;
  top: -30px;
  margin-left: -30px;
}
/* 22. Scroll Up Button
-------------------------------------*/
.scroll-up-btn {
  width: 50px;
  height: 50px;
  border: 2px solid #fff;
  position: fixed;
  bottom: 44px;
  right: 64px;
  display: none;
  background-color: #57bcca;
  text-align: center;
  line-height: 46px;
  font-size: 24px;
  z-index: 10;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
.scroll-up-btn i {
  color: #fff;
}
.scroll-up-btn:hover {
  background-color: #219eaf;
}
/* 23. Inquiry Modal
-------------------------------------*/
#inquiryModal .modal-dialog {
  width: 748px;
}
#inquiryModal .modal-dialog .modal-content {
  border-radius: 0;
  box-shadow: none;
  border: 2px solid #fff;
}
#inquiryModal .modal-dialog .modal-content .modal-header {
  color: #fff;
  background-color: #5d2f73;
  border-bottom: none;
}
#inquiryModal .modal-dialog .modal-content .modal-header .close {
  color: #fff;
  text-shadow: none;
  opacity: .6;
  font-size: 27px;
  margin: 1px 7px 0 0;
}
#inquiryModal .modal-dialog .modal-content .modal-header .close:hover,
#inquiryModal .modal-dialog .modal-content .modal-header .close:focus {
  text-decoration: none;
  cursor: pointer;
  opacity: 1;
}
#inquiryModal .modal-dialog .modal-content .modal-header .modal-title {
  font-size: 24px;
  font-weight: 400;
  color: #fff;
}
#inquiryModal .modal-dialog .modal-content .modal-body {
  padding: 0;
}
#inquiryModal .modal-dialog .modal-content .modal-body h2 {
  font-size: 18px;
  font-weight: 300;
  color: #57bcca;
  margin-top: 0;
  margin-bottom: 20px;
}
#inquiryModal .modal-dialog .modal-content .modal-body label {
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 0;
  color: #585858;
  padding-left: 3px;
}
#inquiryModal .modal-dialog .modal-content .modal-body .input-group {
  border: 1px solid #f5f5f5;
  background-color: #f1f1f1;
}
#inquiryModal .modal-dialog .modal-content .modal-body .form-control {
  background-color: #f1f1f1;
  border: 1px solid #f5f5f5;
  box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-size: 14px;
  font-weight: 400;
  height: 47px;
  padding-left: 10px;
  border-radius: 0;
}
#inquiryModal .modal-dialog .modal-content .modal-body .room-and-date {
  padding: 25px 30px 0 30px;
}
#inquiryModal .modal-dialog .modal-content .modal-body .room-and-date .form-control::-webkit-input-placeholder {
  color: #585858;
}
#inquiryModal .modal-dialog .modal-content .modal-body .room-and-date .form-control:-moz-placeholder {
  color: #585858;
  opacity: 1;
}
#inquiryModal .modal-dialog .modal-content .modal-body .room-and-date .form-control::-moz-placeholder {
  color: #585858;
  opacity: 1;
}
#inquiryModal .modal-dialog .modal-content .modal-body .room-and-date .form-control:-ms-input-placeholder {
  color: #585858;
}
#inquiryModal .modal-dialog .modal-content .modal-body .room-and-date .inquiry-check-in,
#inquiryModal .modal-dialog .modal-content .modal-body .room-and-date .inquiry-check-out,
#inquiryModal .modal-dialog .modal-content .modal-body .room-and-date .inquiry-people {
  margin-bottom: 15px;
}
#inquiryModal .modal-dialog .modal-content .modal-body .room-and-date .room-select {
  height: 58px;
  width: 100%;
  overflow: hidden;
  background-color: #f1f1f1;
  margin-bottom: 30px;
  margin-top: 15px;
  position: relative;
  border: 1px solid #f5f5f5;
}
#inquiryModal .modal-dialog .modal-content .modal-body .room-and-date .room-select .input-group {
  width: 100%;
}
#inquiryModal .modal-dialog .modal-content .modal-body .room-and-date .room-select:after {
  font-family: FontAwesome;
  content: '\f13a';
  position: absolute;
  right: 15px;
  top: 17px;
  font-size: 24px;
  color: #57bcca;
  z-index: 6;
}
#inquiryModal .modal-dialog .modal-content .modal-body .room-and-date .room-select select {
  background: transparent;
  border: 0;
  border-radius: 0;
  height: 58px;
  font-size: 24px;
  font-weight: 400;
  -webkit-appearance: none;
          appearance: none;
  -moz-appearance: none;
  -ms-progress-appearance: none;
  box-shadow: none;
  color: #57bcca;
}
#inquiryModal .modal-dialog .modal-content .modal-body .room-and-date .room-select:before {
  display: block;
  position: absolute;
  content: '';
  right: 0;
  top: 0;
  height: 58px;
  width: 58px;
  margin: 0;
  background: #f1f1f1;
  z-index: 5;
}
#inquiryModal .modal-dialog .modal-content .modal-body .room-and-date select::-ms-expand {
  display: none;
}
#inquiryModal .modal-dialog .modal-content .modal-body .room-and-date .date-select {
  margin-bottom: 10px;
  float: left;
  width: 50%;
  padding-right: 7px;
}
#inquiryModal .modal-dialog .modal-content .modal-body .room-and-date .time-select {
  margin-bottom: 10px;
  float: right;
  width: 50%;
  overflow: hidden;
  position: relative;
}
#inquiryModal .modal-dialog .modal-content .modal-body .room-and-date .time-select:after {
  font-family: FontAwesome;
  content: '\f13a';
  position: absolute;
  right: 18px;
  bottom: 12px;
  color: #57bcca;
  z-index: 6;
}
#inquiryModal .modal-dialog .modal-content .modal-body .room-and-date .time-select select {
  background: transparent;
  line-height: 1;
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-progress-appearance: none;
  box-shadow: none;
}
#inquiryModal .modal-dialog .modal-content .modal-body .room-and-date .time-select:before {
  display: block;
  position: absolute;
  content: '';
  right: 0;
  bottom: 0;
  height: 47px;
  width: 47px;
  margin: 0;
  background-color: #f1f1f1;
  z-index: 5;
}
#inquiryModal .modal-dialog .modal-content .modal-body .room-and-date .people-select {
  margin-bottom: 10px;
  float: right;
  width: 50%;
  overflow: hidden;
  position: relative;
}
#inquiryModal .modal-dialog .modal-content .modal-body .room-and-date .people-select:after {
  font-family: FontAwesome;
  content: '\f13a';
  position: absolute;
  right: 18px;
  bottom: 12px;
  color: #57bcca;
  z-index: 6;
}
#inquiryModal .modal-dialog .modal-content .modal-body .room-and-date .people-select select {
  background: transparent;
  line-height: 1;
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-progress-appearance: none;
  box-shadow: none;
}
#inquiryModal .modal-dialog .modal-content .modal-body .room-and-date .people-select:before {
  display: block;
  position: absolute;
  content: '';
  right: 0;
  bottom: 0;
  height: 47px;
  width: 47px;
  margin: 0 7px 0 0;
  background-color: #f1f1f1;
  z-index: 5;
}
#inquiryModal .modal-dialog .modal-content .modal-body .room-and-date .input-group-addon {
  border: none;
  color: #fff;
  background-color: #57bcca;
  font-size: 24px;
  border-radius: 0;
}
#inquiryModal .modal-dialog .modal-content .modal-body .room-and-date label {
  display: block;
}
#inquiryModal .modal-dialog .modal-content .modal-body hr {
  margin-top: 25px;
  margin-bottom: 35px;
}
#inquiryModal .modal-dialog .modal-content .modal-body .personal-information {
  padding: 0px 30px 20px 30px;
}
#inquiryModal .modal-dialog .modal-content .modal-body .personal-information .first-name-group {
  float: left;
  width: 50%;
  padding-right: 7px;
}
#inquiryModal .modal-dialog .modal-content .modal-body .personal-information .last-name-group {
  float: right;
  width: 50%;
  padding-left: 7px;
}
#inquiryModal .modal-dialog .modal-content .modal-body .personal-information .zip-code-group {
  float: left;
  width: 30%;
  padding-right: 7px;
}
#inquiryModal .modal-dialog .modal-content .modal-body .personal-information .city-group {
  float: right;
  width: 70%;
  padding-left: 7px;
}
#inquiryModal .modal-dialog .modal-content .modal-body .personal-information .phone-group {
  float: left;
  width: 50%;
  padding-right: 7px;
}
#inquiryModal .modal-dialog .modal-content .modal-body .personal-information .email-group {
  float: right;
  width: 50%;
  padding-left: 7px;
}
#inquiryModal .modal-dialog .modal-content .modal-body .newsletter-checkbox {
  margin: 20px 0;
}
#inquiryModal .modal-dialog .modal-content .modal-body .newsletter-checkbox input[type="checkbox"] {
  display: none;
}
#inquiryModal .modal-dialog .modal-content .modal-body .newsletter-checkbox label {
  font-size: 18px;
  font-weight: 300;
}
#inquiryModal .modal-dialog .modal-content .modal-body .newsletter-checkbox label:before {
  content: "";
  display: inline-block;
  font-size: 15px;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  background-color: #57bcca;
  border-radius: 3px;
  line-height: 24px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  color: #f3f3f3;
  text-align: center;
  float: left;
}
#inquiryModal .modal-dialog .modal-content .modal-body .newsletter-checkbox input[type=checkbox]:checked + label:before {
  content: "\2713";
  color: #fff;
  font-size: 26px;
  text-shadow: none;
}
#inquiryModal .modal-dialog .modal-content .modal-footer {
  background-color: #eaf5f7;
  text-align: left;
  padding-top: 20px;
  border-top: none;
}
#inquiryModal .modal-dialog .modal-content .modal-footer .inquiry-info {
  font-size: 12px;
  float: left;
  padding-left: 15px;
}
#inquiryModal .modal-dialog .modal-content .modal-footer .inquiry-info p {
  line-height: 20px;
  margin-left: 20px;
}
#inquiryModal .modal-dialog .modal-content .modal-footer .inquiry-info .inquiry-info-sign {
  font-size: 44px;
  color: #57bcca;
  float: left;
  line-height: 35px;
}
#inquiryModal .modal-dialog .modal-content .modal-footer .btn-inquiry-submit {
  float: right;
  font-size: 16px;
  background-color: #57bcca;
  color: #fff;
  padding: 11px 35px;
}

/* 23. Inquiry Modal
-------------------------------------*/
#modalRegister .modal-dialog {
  width: 748px;
}
#modalRegister .modal-dialog .modal-content {
  border-radius: 0;
  box-shadow: none;
  border: 2px solid #fff;
}
#modalRegister .modal-dialog .modal-content .modal-header {
  color: #fff;
  background-color: #5d2f73;
  border-bottom: none;
}
#modalRegister .modal-dialog .modal-content .modal-header .close {
  color: #fff;
  text-shadow: none;
  opacity: .6;
  font-size: 27px;
  margin: 1px 7px 0 0;
}
#modalRegister .modal-dialog .modal-content .modal-header .close:hover,
#modalRegister .modal-dialog .modal-content .modal-header .close:focus {
  text-decoration: none;
  cursor: pointer;
  opacity: 1;
}
#modalRegister .modal-dialog .modal-content .modal-header .modal-title {
  font-size: 24px;
  font-weight: 400;
  color: #fff;
}
#modalRegister .modal-dialog .modal-content .modal-body {
  padding: 0;
}
#modalRegister .modal-dialog .modal-content .modal-body h2 {
  font-size: 18px;
  font-weight: 300;
  color: #57bcca;
  margin-top: 0;
  margin-bottom: 20px;
}
#modalRegister .modal-dialog .modal-content .modal-body label {
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 0;
  color: #585858;
  padding-left: 3px;
}
#modalRegister .modal-dialog .modal-content .modal-body .input-group {
  border: 1px solid #f5f5f5;
  background-color: #f1f1f1;
}
#modalRegister .modal-dialog .modal-content .modal-body .form-control {
  background-color: #f1f1f1;
  border: 1px solid #f5f5f5;
  box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-size: 14px;
  font-weight: 400;
  height: 47px;
  padding-left: 10px;
  border-radius: 0;
}
#modalRegister .modal-dialog .modal-content .modal-body .room-and-date {
  padding: 25px 30px 0 30px;
}
#modalRegister .modal-dialog .modal-content .modal-body .room-and-date .form-control::-webkit-input-placeholder {
  color: #585858;
}
#modalRegister .modal-dialog .modal-content .modal-body .room-and-date .form-control:-moz-placeholder {
  color: #585858;
  opacity: 1;
}
#modalRegister .modal-dialog .modal-content .modal-body .room-and-date .form-control::-moz-placeholder {
  color: #585858;
  opacity: 1;
}
#modalRegister .modal-dialog .modal-content .modal-body .room-and-date .form-control:-ms-input-placeholder {
  color: #585858;
}
#modalRegister .modal-dialog .modal-content .modal-body .room-and-date .inquiry-check-in,
#modalRegister .modal-dialog .modal-content .modal-body .room-and-date .inquiry-check-out,
#modalRegister .modal-dialog .modal-content .modal-body .room-and-date .inquiry-people {
  margin-bottom: 15px;
}
#modalRegister .modal-dialog .modal-content .modal-body .room-and-date .room-select {
  height: 58px;
  width: 100%;
  overflow: hidden;
  background-color: #f1f1f1;
  margin-bottom: 30px;
  margin-top: 15px;
  position: relative;
  border: 1px solid #f5f5f5;
}
#modalRegister .modal-dialog .modal-content .modal-body .room-and-date .room-select .input-group {
  width: 100%;
}
#modalRegister .modal-dialog .modal-content .modal-body .room-and-date .room-select:after {
  font-family: FontAwesome;
  content: '\f13a';
  position: absolute;
  right: 15px;
  top: 17px;
  font-size: 24px;
  color: #57bcca;
  z-index: 6;
}
#modalRegister .modal-dialog .modal-content .modal-body .room-and-date .room-select select {
  background: transparent;
  border: 0;
  border-radius: 0;
  height: 58px;
  font-size: 24px;
  font-weight: 400;
  -webkit-appearance: none;
          appearance: none;
  -moz-appearance: none;
  -ms-progress-appearance: none;
  box-shadow: none;
  color: #57bcca;
}
#modalRegister .modal-dialog .modal-content .modal-body .room-and-date .room-select:before {
  display: block;
  position: absolute;
  content: '';
  right: 0;
  top: 0;
  height: 58px;
  width: 58px;
  margin: 0;
  background: #f1f1f1;
  z-index: 5;
}
#modalRegister .modal-dialog .modal-content .modal-body .room-and-date select::-ms-expand {
  display: none;
}
#modalRegister .modal-dialog .modal-content .modal-body .room-and-date .date-select {
  margin-bottom: 10px;
  float: left;
  width: 50%;
  padding-right: 7px;
}
#modalRegister .modal-dialog .modal-content .modal-body .room-and-date .time-select {
  margin-bottom: 10px;
  float: right;
  width: 50%;
  overflow: hidden;
  position: relative;
}
#modalRegister .modal-dialog .modal-content .modal-body .room-and-date .time-select:after {
  font-family: FontAwesome;
  content: '\f13a';
  position: absolute;
  right: 18px;
  bottom: 12px;
  color: #57bcca;
  z-index: 6;
}
#modalRegister .modal-dialog .modal-content .modal-body .room-and-date .time-select select {
  background: transparent;
  line-height: 1;
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-progress-appearance: none;
  box-shadow: none;
}
#modalRegister .modal-dialog .modal-content .modal-body .room-and-date .time-select:before {
  display: block;
  position: absolute;
  content: '';
  right: 0;
  bottom: 0;
  height: 47px;
  width: 47px;
  margin: 0;
  background-color: #f1f1f1;
  z-index: 5;
}
#modalRegister .modal-dialog .modal-content .modal-body .room-and-date .people-select {
  margin-bottom: 10px;
  float: right;
  width: 50%;
  overflow: hidden;
  position: relative;
}
#modalRegister .modal-dialog .modal-content .modal-body .room-and-date .people-select:after {
  font-family: FontAwesome;
  content: '\f13a';
  position: absolute;
  right: 18px;
  bottom: 12px;
  color: #57bcca;
  z-index: 6;
}
#modalRegister .modal-dialog .modal-content .modal-body .room-and-date .people-select select {
  background: transparent;
  line-height: 1;
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-progress-appearance: none;
  box-shadow: none;
}
#modalRegister .modal-dialog .modal-content .modal-body .room-and-date .people-select:before {
  display: block;
  position: absolute;
  content: '';
  right: 0;
  bottom: 0;
  height: 47px;
  width: 47px;
  margin: 0 7px 0 0;
  background-color: #f1f1f1;
  z-index: 5;
}
#modalRegister .modal-dialog .modal-content .modal-body .room-and-date .input-group-addon {
  border: none;
  color: #fff;
  background-color: #57bcca;
  font-size: 24px;
  border-radius: 0;
}
#modalRegister .modal-dialog .modal-content .modal-body .room-and-date label {
  display: block;
}
#modalRegister .modal-dialog .modal-content .modal-body hr {
  margin-top: 25px;
  margin-bottom: 35px;
}
#modalRegister .modal-dialog .modal-content .modal-body .personal-information {
  padding: 0px 30px 20px 30px;
}
#modalRegister .modal-dialog .modal-content .modal-body .personal-information .first-name-group {
  float: left;
  width: 50%;
  padding-right: 7px;
}
#modalRegister .modal-dialog .modal-content .modal-body .personal-information .last-name-group {
  float: right;
  width: 50%;
  padding-left: 7px;
}
#modalRegister .modal-dialog .modal-content .modal-body .personal-information .zip-code-group {
  float: left;
  width: 30%;
  padding-right: 7px;
}
#modalRegister .modal-dialog .modal-content .modal-body .personal-information .city-group {
  float: right;
  width: 70%;
  padding-left: 7px;
}
#modalRegister .modal-dialog .modal-content .modal-body .personal-information .phone-group {
  float: left;
  width: 50%;
  padding-right: 7px;
}
#modalRegister .modal-dialog .modal-content .modal-body .personal-information .email-group {
  float: right;
  width: 50%;
  padding-left: 7px;
}
#modalRegister .modal-dialog .modal-content .modal-body .newsletter-checkbox {
  margin: 20px 0;
}
#modalRegister .modal-dialog .modal-content .modal-body .newsletter-checkbox input[type="checkbox"] {
  display: none;
}
#modalRegister .modal-dialog .modal-content .modal-body .newsletter-checkbox label {
  font-size: 18px;
  font-weight: 300;
}
#modalRegister .modal-dialog .modal-content .modal-body .newsletter-checkbox label:before {
  content: "";
  display: inline-block;
  font-size: 15px;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  background-color: #57bcca;
  border-radius: 3px;
  line-height: 24px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  color: #f3f3f3;
  text-align: center;
  float: left;
}
#modalRegister .modal-dialog .modal-content .modal-body .newsletter-checkbox input[type=checkbox]:checked + label:before {
  content: "\2713";
  color: #fff;
  font-size: 26px;
  text-shadow: none;
}
#modalRegister .modal-dialog .modal-content .modal-footer {
  background-color: #eaf5f7;
  text-align: left;
  padding-top: 20px;
  border-top: none;
}
#modalRegister .modal-dialog .modal-content .modal-footer .inquiry-info {
  font-size: 12px;
  float: left;
  padding-left: 15px;
}
#modalRegister .modal-dialog .modal-content .modal-footer .inquiry-info p {
  line-height: 20px;
  margin-left: 20px;
}
#modalRegister .modal-dialog .modal-content .modal-footer .inquiry-info .inquiry-info-sign {
  font-size: 44px;
  color: #57bcca;
  float: left;
  line-height: 35px;
}
#modalRegister .modal-dialog .modal-content .modal-footer .btn-inquiry-submit {
  float: right;
  font-size: 16px;
  background-color: #57bcca;
  color: #fff;
  padding: 11px 35px;
}
/* 24. Breakpoints / Media Queries
-------------------------------------*/
/* Large devices (desktops, 1200px and down)*/
@media (max-width: 1200px) {
  body {
    line-height: 23px;
  }
  /* 4. Top Navbar 1200px
  -------------------------------------*/
  .top-navbar .navbar-default .navbar-nav a {
    color: #585858;
    font-size: 13px;
  }
  .top-navbar .navbar-default .navbar-nav .active > a {
    background-color: #ffffff;
    font-size: 14px;
  }
  /* 5. Teaser Slider 1200px
  -------------------------------------*/
  .teaser-slider .item {
    height: 550px;
  }
  .teaser-slider-ph {
    height: 750px;
  }
  /* 6. Call to Action 1200px
  -------------------------------------*/
  .call-to-action .call-to-action-box {
    height: 74px;
    border-bottom: 7px solid #57bcca;
  }
  .call-to-action .call-to-action-button {
    color: #ffffff;
    background-color: #57bcca;
    border: none;
    font-size: 17px;
    padding: 20px 27px 15px;
    vertical-align: top;
  }
  .call-to-action .call-to-action-button i {
    font-size: 28px;
    margin: -4px 8px 0 0;
  }
  .call-to-action .call-to-action-phone {
    font-size: 15px;
    margin-top: 18px;
  }
  /* 7. Features 1200px
  -------------------------------------*/
  .features {
    padding-top: 140px;
    padding-bottom: 70px;
  }
  .features h2 {
    font-size: 42px;
    margin: 0 0 65px 0;
  }
  .features .feature {
    border-bottom: 5px solid #57bcca;
    padding-top: 34px;
    text-align: center;
  }
  .features .feature .feature-icon {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    font-size: 46px;
    line-height: 120px;
  }
  .features .feature h3 {
    margin: 26px 0 24px 0;
    font-size: 19px;
  }
  .features .feature p {
    font-size: 12px;
  }
  /* 8. Room Tabs 1200px
  -------------------------------------*/
  .room-tabs {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .room-tabs h2 {
    font-size: 32px;
    margin-bottom: 25px;
  }
  .room-tabs .room-tabs-info {
    font-size: 12px;
  }
  .room-tabs .nav-tabs {
    margin-bottom: 38px;
    font-size: 16px;
    border-bottom: 5px solid #e3e3e3;
  }
  .room-tabs .nav-tabs li {
    margin-bottom: -5px;
  }
  .room-tabs .nav-tabs li a {
    border-bottom: 5px solid #e3e3e3;
  }
  .room-tabs .nav-tabs li a:hover {
    border-bottom: 5px solid #e3e3e3;
  }
  .room-tabs .nav-tabs li.active a {
    border-bottom: 5px solid #57bcca;
  }
  .room-tabs .room-tabs-gallery .room-tabs-gallery-thumbnails {
    width: 65px;
  }
  .room-tabs .room-tabs-gallery .room-tabs-gallery-image {
    width: 380px;
  }
  .room-tabs .room-tabs-gallery .room-tabs-gallery-image .room-tabs-gallery-preview-container {
    height: 295px;
  }
  .room-tabs .room-tabs-gallery .room-tabs-gallery-caption {
    font-size: 13px;
  }
  .room-tabs .room-tabs-description {
    font-size: 12px;
  }
  .room-tabs .room-tabs-description h3 {
    font-size: 20px;
    margin-bottom: 18px;
  }
  .room-tabs .room-tabs-checklist li {
    padding: 0 0 5px 0;
  }
  .room-tabs .room-tabs-checklist li i {
    font-size: 16px;
    margin-right: 7px;
    margin-top: 4px;
  }
  /* 10. Attractions 1200px
  -------------------------------------*/
  .attractions {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .attractions h2 {
    font-size: 42px;
    margin: 0 0 55px 0;
  }
  .attractions p {
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 30px;
  }
  .attractions .attraction-link a .attraction-caption {
    font-size: 12px;
  }
  /* 11. Newsletter 1200px
  -------------------------------------*/
  .newsletter {
    padding-bottom: 157px;
  }
  .newsletter .newsletter-box h3 {
    font-size: 20px;
  }
  /* 12. Reviews 1200px
  -------------------------------------*/
  .reviews {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .reviews h2 {
    font-size: 32px;
  }
  .reviews .carousel-control {
    margin: 5px 0 0 0;
  }
  .reviews .carousel-inner {
    margin-top: 35px;
  }
  .reviews .review-box {
    border-bottom: 5px solid #57bcca;
    font-size: 12px;
  }
  .reviews .review-box h3 {
    font-size: 16px;
    margin: 0 0 22px 0;
  }
  .reviews .review-box .review-person {
    margin: 30px 0 20px 0;
  }
  .reviews .review-box .review-person-image {
    float: left;
    border-radius: 35px;
    width: 70px;
  }
  .reviews .review-box .review-person-name {
    font-size: 20px;
    margin: 0 0 10px 90px;
    padding-top: 10px;
  }
  .reviews .review-box .review-person-location {
    margin-left: 85px;
    font-size: 16px;
  }
  /* 13. About 1200px
  -------------------------------------*/
  .about {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .about .about-image {
    border-bottom: 5px solid #57bcca;
  }
  .about h2 {
    font-size: 32px;
    margin-bottom: 23px;
  }
  .about p {
    font-size: 16px;
    line-height: 28px;
  }
  .about .about-signature {
    margin-top: 25px;
    width: 200px;
  }
  /* 14. Counter 1200px
  -------------------------------------*/
  .counter {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .counter .counter-icon {
    font-size: 60px;
  }
  .counter .counter-number {
    font-size: 36px;
  }
  .counter .counter-description {
    font-size: 14px;
  }
  /* 15. Rates 1200px
  -------------------------------------*/
  .rates {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .rates h2 {
    font-size: 42px;
    margin: 0 0 65px 0;
  }
  .rates .rate-box .rate-icon {
    color: #cccacc;
    font-size: 53px;
    line-height: 0;
  }
  .rates .rate-box .rate-icon .stars {
    font-size: 14px;
  }
  .rates .rate-box .rate-description {
    font-size: 16px;
  }
  .rates .rate-box .rate-price .rate-price-currency {
    font-size: 20px;
  }
  .rates .rate-box .rate-price .rate-price-amount {
    font-size: 83px;
  }
  .rates .rate-box .rate-price .rate-price-duration {
    font-size: 14px;
  }
  .rates .rate-box .rate-action button {
    font-size: 14px;
    padding: 10px 20px;
  }
  .rates .rate-box .rate-action button i {
    font-size: 22px;
    margin: 0 7px 0 0;
  }
  .rates .rates-payment-info {
    margin-top: 55px;
  }
  .rates .rates-payment-info p {
    font-size: 18px;
    margin-right: 10px;
  }
  .rates .rates-payment-info img {
    height: 30px;
  }
  /* 16. Services 1200px
  -------------------------------------*/
  .services {
    padding-top: 70px;
    padding-bottom: 37px;
  }
  .services h2 {
    font-size: 42px;
    margin: 0 0 65px 0;
  }
  .services .service {
    margin-bottom: 33px;
  }
  .services .service .service-icon {
    width: 55px;
    height: 55px;
    margin: -20px auto 0 auto;
    border: 2px solid #57bcca;
    border-radius: 31px;
    text-align: center;
    font-size: 20px;
    color: #57bcca;
    line-height: 54px;
    position: relative;
    float: left;
  }
  .services .service .service-icon:after {
    content: '';
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #57bcca;
    position: absolute;
    left: 50%;
    bottom: 0px;
    margin-left: -6px;
  }
  .services .service h3 {
    margin: 0 0 6px 70px;
    font-size: 18px;
  }
  .services .service p {
    margin: 0 0 0 70px;
    font-size: 12px;
  }
  /* 17. Content 1200px
  -------------------------------------*/
  .content {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .content h2 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  .content h3 {
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 1.6;
  }
  .content p {
    margin-bottom: 15px;
    font-size: 12px;
  }
  .content p .btn {
    font-size: 13px;
  }
  .content .content-img-left,
  .content .content-img-right {
    margin-bottom: 70px;
  }
  /* 18. Partners 1200px
  -------------------------------------*/
  .partners h2 {
    font-size: 12px;
  }
  .partners .partners-container {
    padding: 32px 15px 70px 15px;
  }
  /* 19. Contact 1200px
  -------------------------------------*/
  .contact {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .contact h2 {
    font-size: 32px;
    margin-bottom: 25px;
  }
  .contact h3 {
    margin-bottom: 25px;
    font-size: 18px;
  }
  .contact .input-group {
    padding: 6px 2px;
    height: 50px;
    margin-bottom: 12px;
  }
  .contact .input-group .input-group-addon {
    font-size: 22px;
  }
  .contact .input-group .form-control {
    font-size: 16px;
  }
  .contact .input-group.textbox .input-group-addon {
    height: 36px;
    width: 54px;
  }
  .contact .input-group.textbox textarea {
    width: 394px;
    height: 223px;
  }
  /* 20. Address 1200px
  -------------------------------------*/
  .address {
    padding-top: 70px;
    background-position: 70px;
  }
  .address h2 {
    margin-bottom: 15px;
  }
  .address address {
    font-size: 18px;
    margin-bottom: 8px;
  }
  .address .address-info {
    font-size: 18px;
  }
  .address .phones {
    margin-top: 35px;
    font-size: 22px;
  }
  .address .phones li i {
    font-size: 34px;
  }
  /* 21. Footer 1200px
  -------------------------------------*/
  footer .footer-copyright {
    font-size: 16px;
  }
  footer .footer-social-media {
    font-size: 22px;
    margin-top: 34px;
  }
}
/* Medium devices (desktops, 992px and down) */
@media (max-width: 992px) {
  body {
    text-align: center;
  }
  /* 4. Top Navbar 992px
  -------------------------------------*/
  /*Supstituti*/
  .well{
    text-align: left;
    margin-top: -50px;
  }
  .supstitut-img {
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border-color: #dedede;
    border-right: 1px solid;
    font-size: 25px;
    color: #57bcca;
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
  }
  

  /*Supstituti*/

  .top-navbar {
    width: 100%;
  }
  .top-navbar .navbar-brand {
    margin-top: 5px;
    margin-left: -10px;
  }
  .top-navbar .navbar-default .navbar-collapse {
    border: none;
  }
  .top-navbar .navbar-default .navbar-toggle {
    margin-top: 30px;
    margin-right: 0;
  }
  .top-navbar .navbar-default .navbar-nav {
    margin-top: 25px;
    margin-right: 0;
  }
  .top-navbar .navbar-default .navbar-nav li {
    border-bottom: 1px solid #302b2c;
  }
  .top-navbar .navbar-default .navbar-nav li:last-of-type {
    border-bottom: none;
  }
  .top-navbar .navbar-default .navbar-nav .active > a {
    background-color: #fff;
  }
  .top-navbar .navbar-default .navbar-nav .active > a:after {
    border: none;
  }
  /* 6. Call to Action 992px
  -------------------------------------*/
  .call-to-action {

  }
  /* 7. Features 992px
  -------------------------------------*/
  .features .feature {
    margin-bottom: 35px;
  }
  .collapse.in {
      display: block !important;
      margin-top: 50px;
  }
  .collapse.in h2 {
    font-size: 24px;
  }
  /* 8. Room Tabs 992px
  -------------------------------------*/
  .room-tabs .room-tabs-info img {
    float: none;
    margin-bottom: 25px;
  }
  .room-tabs .nav-tabs {
    text-align: center;
  }
  .room-tabs .nav-tabs li {
    display: inline-block;
    float: none;
  }
  .room-tabs .room-tabs-gallery {
    margin-bottom: 35px;
  }
  .room-tabs .room-tabs-gallery .room-tabs-gallery-thumbnails {
    width: 100%;
    float: none;
    display: block;
    min-height: 75px;
    text-align: center;
  }
  .room-tabs .room-tabs-gallery .room-tabs-gallery-thumbnails a {
    margin-right: 10px;
    display: inline-block;
    width: 75px;
  }
  .room-tabs .room-tabs-gallery .room-tabs-gallery-image {
    width: 100%;
    float: none;
  }
  .room-tabs .room-tabs-gallery .room-tabs-gallery-image .room-tabs-gallery-preview-container {
    height: 80%;
  }
  .room-tabs .room-tabs-gallery .room-tabs-gallery-caption {
    text-align: left;
  }
  .room-tabs .room-tabs-gallery .room-tabs-gallery-caption .btn-room-check {
    float: right;
  }
  .room-tabs .room-tabs-checklist.left {
    text-align: right;
  }
  .room-tabs .room-tabs-checklist.left li i {
    float: right;
    margin: 7px 0 0 5px;
  }
  .room-tabs .room-tabs-checklist.right {
    text-align: left;
  }
  .room-tabs .room-tabs-checklist.right li i {
    float: left;
    margin: 7px 5px 0 0;
  }
  /* 11. Newsletter 992px
  -------------------------------------*/
  .newsletter {
    padding-bottom: 150px;
  }
  .newsletter .newsletter-box {
    min-height: 270px;
  }
  .newsletter .newsletter-box .newsletter-box-icon {
    width: 100px;
    height: 100px;
    top: -50px;
    margin-left: -50px;
    border-radius: 50px;
    font-size: 46px;
    line-height: 100px;
  }
  .newsletter .newsletter-box h3 {
    font-size: 16px;
  }
  .newsletter .newsletter-box .input-group {
    padding: 7px 2px;
    height: 48px;
  }
  .newsletter .newsletter-box .input-group .input-group-addon {
    font-size: 22px;
  }
  .newsletter .newsletter-box .input-group .form-control {
    font-size: 16px;
  }
  .newsletter .newsletter-box .newsletter-box-submit {
    width: 280px;
    position: absolute;
    left: 50%;
    margin-left: -140px;
    bottom: -80px;
  }
  .newsletter .newsletter-box .newsletter-box-submit .newsletter-box-button .btn {
    height: 45px;
    font-size: 22px;
  }
  .newsletter .newsletter-box .newsletter-box-submit .newsletter-box-socialmedia {
    margin-top: 20px;
  }
  .newsletter .newsletter-box .newsletter-box-submit .newsletter-box-socialmedia h4 {
    font-size: 16px;
    margin-top: 13px;
  }
  /* 12. Reviews 992px
  -------------------------------------*/
  .reviews .review-controls {
    text-align: center;
    margin-top: 35px;
  }
  .reviews .review-box {
    margin-bottom: 35px;
  }
  .reviews .review-box .review-person-image {
    float: none;
    border-radius: 42px;
  }
  .reviews .review-box .review-person-name {
    margin: 0 0 10px 0px;
  }
  .reviews .review-box .review-person-location {
    margin-left: 0px;
  }
  /* 13. About 992px
  -------------------------------------*/
  .about .about-image {
    margin-bottom: 35px;
  }
  .about .about-signature {
    margin: 35px auto 0;
  }
  /* 17. Counter 992px
  -------------------------------------*/
  .counter .counter-icon {
    float: none;
    margin: 0 auto;
  }
  .counter .counter-number {
    margin-left: 0;
  }
  .counter .counter-description {
    margin-left: 0;
  }
  /* 15. Rates 992px
  -------------------------------------*/
  .rates {
    padding-left: 25px;
    padding-right: 25px;
  }
  .rates .rate-box {
    border: 1px solid #bebebe !important;
    margin-bottom: 35px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .rates .rate-box.highlight {
    border: none !important;
    -webkit-transform: scale(1.02);
        -ms-transform: scale(1.02);
            transform: scale(1.02);
  }
  /* 16. Services 992px
  -------------------------------------*/
  .services .service-row {
    margin-bottom: 0;
  }
  .services .service {
    margin-bottom: 35px;
  }
  .services .service .service-icon {
    width: 55px;
    height: 55px;
    margin: 0 auto 20px auto;
    border: 2px solid #57bcca;
    border-radius: 31px;
    text-align: center;
    font-size: 20px;
    color: #57bcca;
    line-height: 54px;
    position: relative;
    float: none;
  }
  .services .service .service-icon:after {
    content: '';
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #57bcca;
    position: absolute;
    left: 50%;
    bottom: 0px;
    margin-left: -6px;
  }
  .services .service h3 {
    margin: 0 0 6px 0;
  }
  .services .service p {
    margin: 0;
  }
  /* 17. Content 992px
  -------------------------------------*/
  .content p:last-of-type {
    margin-bottom: 30px;
  }
  .content .content-img-left,
  .content .content-img-right {
    margin-bottom: 40px;
  }
  .content .content-img:last-of-type {
    margin-bottom: 35px;
  }
  /* 18. Partners 992px
  -------------------------------------*/
  .partners .partner {
    margin-bottom: 25px;
  }
  /* 19. Contact 992px
  -------------------------------------*/
  .contact .contact-img {
    float: none;
    margin: 0 auto 25px;
  }
  .contact .contact-phone i {
    display: inline-block;
    float: none;
  }
  .contact .input-group.textbox textarea {
    width: 655px;
  }
  /* 21. Footer 992px
  -------------------------------------*/
  footer .footer-copyright {
    font-size: 14px;
  }
  footer .footer-social-media {
    padding: 0;
    margin-top: 25px;
    margin-bottom: 35px;
  }
  footer .footer-social-media li {
    display: inline-block;
    float: none;
  }
  /* 23. Inquiry Modal 992px
 -------------------------------------*/
  #inquiryModal .modal-dialog .modal-content .modal-body {
    text-align: left;
  }
  }
  .call-to-action-box-red {
    margin-bottom:15px;
  }
  .call-to-action .call-to-action-triangle {
    display: none !important;
  }
/* Small devices (768px and down) */
@media (max-width: 768px) {
  /* 5. Teaser Slider 768px
  -------------------------------------*/

  /* Supstituti */
  .supstitut-img {
    width: 35px !important;
    height: 35px !important;
    line-height: 35px !important;
    margin-right: 10px !important;
  }

  .input-group-btn{
    padding-right: 5px;
  }
  /* Supstituti kraj */
  .teaser-slider .item {
    height: 430px;
  }
  .teaser-slider-ph {
    height: 750px;
  }
  /* 7. Features 768px
  -------------------------------------*/
  .features h2 {
    font-size: 28px;
  }
  /* 8. Room Tabs 768px
  -------------------------------------*/
  .room-tabs h2 {
    font-size: 24px;
  }
  .room-tabs .nav-tabs {
    font-size: 14px;
  }
  .room-tabs .room-tabs-description h3 {
    font-size: 18px;
  }
  .room-tabs .room-tabs-checklist {
    margin-bottom: 0;
    margin-top: 0;
  }
  .room-tabs .room-tabs-checklist li {
    background-color: #eaf5f7;
    margin-bottom: 2px;
  }
  .room-tabs .room-tabs-checklist.left {
    text-align: center;
  }
  .room-tabs .room-tabs-checklist.left li i {
    float: none;
    display: none;
  }
  .room-tabs .room-tabs-checklist.right {
    text-align: center;
  }
  .room-tabs .room-tabs-checklist.right li i {
    float: none;
    display: none;
  }
  /* 9. Location 768px
  -------------------------------------*/
  .location .location-address {
    font-size: 16px;
    height: 60px;
    margin-top: -60px;
  }
  .location .location-address i {
    font-size: 17px;
  }
  /* 10. Attractions 768px
  -------------------------------------*/
  .attractions h2 {
    font-size: 28px;
  }
  .attractions p {
    font-size: 14px;
    line-height: 26px;
  }
  /* 11. Newsletter 768px
  -------------------------------------*/
  .newsletter .newsletter-box {
    padding: 85px 15px 70px;
  }
  .newsletter .newsletter-box h3 {
    font-size: 16px;
    line-height: 30px;
  }
  .newsletter .newsletter-box .input-group {
    margin: 0 20px 20px 20px;
  }
  /* 12. Reviews 768px
  -------------------------------------*/
  .reviews h2 {
    font-size: 24px;
  }
  /* 13. About
  -------------------------------------*/
  .about h2 {
    font-size: 24px;
  }
  .about p {
    font-size: 14px;
    line-height: 26px;
  }
  /* 14. Counter 768px
  -------------------------------------*/
  .counter .counter-box {
    margin-bottom: 35px;
  }
  /* 15. Rates 768px
-------------------------------------*/
  .rates h2 {
    font-size: 28px;
  }
  .rates .rates-payment-info img {
    margin-top: 0;
  }
  /* 16. Services 768px
  -------------------------------------*/
  .services h2 {
    font-size: 28px;
  }
  /* 17. Content 768px
  -------------------------------------*/
  .content h2 {
    font-size: 24px;
  }
  .content h3 {
    font-size: 18px;
  }
  /* 19. Contact 768px
  -------------------------------------*/
  .contact h2 {
    font-size: 28px;
  }
  .contact h3 {
    font-size: 16px;
  }
  .contact .input-group.textbox textarea {
    width: 85%;
  }
  /* 20. Address 768px
  -------------------------------------*/
  .address address {
    font-size: 16px;
  }
  .address .address-info {
    font-size: 16px;
    line-height: 26px;
  }
  .address .phones {
    font-size: 18px;
    margin-top: 25px;
  }
  .address .phones li {
    margin-bottom: 5px;
  }
  .address .phones li i {
    font-size: 36px;
    vertical-align: sub;
    margin-right: 7px;
  }
  /*Izmene*/
  .call-to-action-box-red {
    margin-bottom:15px;
  }
  .call-to-action .call-to-action-triangle {
    display: none;
  }
  #inquiryModal .modal-dialog .modal-content .modal-body .personal-information .email-group {
    width: 100%;
  }
  /* 23. Inquiry Modal 768px
  -------------------------------------*/
  .modal {
    padding: 0 !important;
    margin: 0 !important;
  }
  #inquiryModal .modal-dialog {
    width: 100%;
    margin: 0;
  }
  #inquiryModal .modal-dialog .modal-content {
    border: 0;
  }
  #inquiryModal .modal-dialog .modal-content .modal-header {
    text-align: left;
  }
  #inquiryModal .modal-dialog .modal-content .modal-body {
    text-align: left;
  }
  #inquiryModal .modal-dialog .modal-content .modal-body .room-and-date .date-select {
    float: none;
    width: 100%;
    padding-right: 0px;
  }
  #inquiryModal .modal-dialog .modal-content .modal-body .room-and-date .time-select {
    float: none;
    width: 100%;
  }
  #inquiryModal .modal-dialog .modal-content .modal-body .room-and-date .people-select {
    float: none;
    width: 100%;
  }
  #inquiryModal .modal-dialog .modal-content .modal-body .personal-information .first-name-group {
    float: none;
    width: 100%;
    padding-right: 0px;
  }
  #inquiryModal .modal-dialog .modal-content .modal-body .personal-information .last-name-group {
    float: none;
    width: 100%;
    padding-left: 0px;
  }
  #inquiryModal .modal-dialog .modal-content .modal-body .personal-information .zip-code-group {
    float: none;
    width: 100%;
    padding-right: 0px;
  }
  #inquiryModal .modal-dialog .modal-content .modal-body .personal-information .city-group {
    float: none;
    width: 100%;
    padding-left: 0px;
  }
  #inquiryModal .modal-dialog .modal-content .modal-body .personal-information .phone-group {
    float: none;
    width: 100%;
    padding-right: 0px;
  }
  #inquiryModal .modal-dialog .modal-content .modal-body .personal-information .email-group {
    float: none;
    width: 100%;
    padding-left: 0px;
  }
  #inquiryModal .modal-dialog .modal-content .modal-footer .inquiry-info {
    float: none;
    padding-left: 0px;
    text-align: center;
  }
  #inquiryModal .modal-dialog .modal-content .modal-footer .btn-inquiry-submit {
    float: none;
    width: 100%;
    text-align: center;
  }
}
/* Extra Small devices (480px and down) */
@media (max-width: 480px) {
  /* 5. Teaser Slider 480px
  Izmene
  -------------------------------------*/
  #inquiryModal .modal-dialog .modal-content .modal-body .personal-information .email-group{
    width: 100% !important;
    padding: 0px !important;
  }
  #inquiryModal .modal-dialog .modal-content .modal-body .room-and-date{
    height: 250px !important;
  }
  .top-navbar{
    padding:0px !important;
  }
  .top-navbar .navbar-default {
    border: none;
    background-color: #ffffff;
  }
  .content-after-slider{
    width: 100% !important;
  }
  .teaser-slider-ph {
    height: 450px;
  }
  /* Supstituti */
  .supstitut {
    width: 100% !important;
    margin-right: 0px !important;
  }
  .supstitut-img {
    width: 50px !important;
    height: 50px !important;
    font-size: 30px !important;
  }
  .input-group-btn{
    padding-right: 5px;
  }
  .supstitut ul{
    font-size: 13px !important;
  }
  .supstitut-heading{
    font-size: 13px !important;
  }
  .navbar{
    margin-bottom: 0px;
  }
  .container-fluid{
    padding-right: 0px;
  }
  .top-navbar .navbar-default .navbar-toggle{
    margin-right: 30px;
  }
  .partners .partner-img {
    background-color: #fff;
    width: 75%;
    text-align: center;
    margin: 0 auto;
  }
  /* Supstituti kraj */
  #suggestions{
    width: 290px !important;
    margin-left:0px !important;
  }
  /* 19. Contact 480px
  -------------------------------------*/
  .contact .input-group.textbox textarea {
    width: 82%;
  }
  .contact .contact-form-info {
    float: none;
    text-align: center;
  }
  .contact .btn-contact-form {
    float: none;
    width: 100%;
  }
  /* 8. Room Tabs 480px
  -------------------------------------*/
  .room-tabs .nav-tabs {
    border: none;
  }
  .room-tabs .nav-tabs li {
    display: block;
    margin-bottom: 0;
  }
  .room-tabs .room-tabs-gallery .room-tabs-gallery-caption {
    text-align: center;
    height: 110px;
  }
  .room-tabs .room-tabs-gallery .room-tabs-gallery-caption .btn-room-check {
    float: none;
    display: block;
    width: 100%;
    margin-top: 10px;
  }
  /* 9. Location 480px
  -------------------------------------*/
  .location .location-address {
    font-size: 12px;
    font-weight: 600;
  }
}
/* 25. Helper Classes */
.text-light {
  font-weight: 300;
}
.mt5 {
  margin-top: 5px;
}
.mt10 {
  margin-top: 10px;
}
.mt15 {
  margin-top: 15px;
}
.mt20 {
  margin-top: 20px;
}
.mt25 {
  margin-top: 25px;
}
.mr5 {
  margin-right: 5px;
}
.mr10 {
  margin-right: 10px;
}
.mr15 {
  margin-right: 15px;
}
.mr20 {
  margin-right: 20px;
}
.mr25 {
  margin-right: 25px;
}
.mb5 {
  margin-bottom: 5px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb15 {
  margin-bottom: 15px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb25 {
  margin-bottom: 25px;
}
.ml5 {
  margin-left: 5px;
}
.ml10 {
  margin-left: 10px;
}
.ml15 {
  margin-left: 15px;
}
.ml20 {
  margin-left: 20px;
}
.ml25 {
  margin-left: 25px;
}
/* 26. Change default Nav Breakpoint */
@media (max-width: 992px) {
  .navbar-header {
    float: none;
  }
  .navbar-left,
  .navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-fixed-top {
    top: 0;
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-nav {
    float: none !important;
    margin-top: 7.5px;
  }
  .navbar-nav > li {
    float: none;
  }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in {
    display: block !important;
  }
}


/* Style edit */

/* properties for "googleMap" div */
#googleMap {
    display: block;
    position: relative;
    width: 100%;
    height: 700px;
    transition: border-radius 0.5s;
}
#googleMapCheck{
    display: block;
    position: relative;
    width: 100%;
    height: 700px;
    transition: border-radius 0.5s;
    z-index: 9999;
}
.form-control-crveni::-webkit-input-placeholder {
  color: #e74c3c;
}
.form-control-crveni:-moz-placeholder {
  color: #e74c3c;
  opacity: 1;
}
.form-control-crveni::-moz-placeholder {
  color: #e74c3c;
  opacity: 1;
}
.form-control-crveni:-ms-input-placeholder {
  color: #e74c3c;
}
.input-group {
  width: 100%;
  background-color: #fff;
  padding: 10px 2px;
  height: 58px;
}
.input-group .input-group-addon {
  background-color: #fff;
  color: #57bcca;
  border: none;
  font-size: 24px;
  border-right: 1px solid #57bcca;
}
.input-group .form-control {
  background-color: #fff;
  border: none;
  box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-size: 18px;
  font-weight: 400;
}
.input-group .form-control {
  background-color: #fff;
  border: none;
  box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-size: 18px;
  font-weight: 400;
}

.call-to-action-box-red {
    height: 75px;
    padding-top: 8px;
    border-bottom: 7px solid #e74c3c;
    background-color: #ffffff;
    color: #e74c3c;
    position: relative;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.crvena{
  color: #e74c3c !important;
  border-color: #e74c3c !important;

}
.input-group-crvena {
  width: 100%;
  background-color: #fff;
  padding: 10px 2px;
  height: 58px;
}
.input-group-crvena .input-group-crvena-addon {
  background-color: #fff;
  color: #e74c3c;
  border: none;
  font-size: 24px;
  border-right: 1px solid #e74c3c;
}
.input-group-crvena .form-control {
  background-color: #fff;
  border: none;
  box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-size: 18px;
  font-weight: 400;
}
button.btn.btn-default {
    padding: 5px;
}
.features{
  padding-top: 120px;
}
#inquiryModal .modal-dialog .modal-content .modal-body .form-control {
    border: none;
}
#inquiryModal .modal-dialog .modal-content .modal-body .input-group {
    border: 1px solid #f5f5f5;
    background-color: #f1f1f1;
    padding-left: 10px;
}
#inquiryModal .modal-dialog .modal-content .modal-body .personal-information {
    margin-top: 25px;
}
#inquiryModal .modal-dialog .modal-content .modal-body .personal-information .email-group {
    float: right;
    width: 70%;
    padding-left: 7px;
}
#inquiryModal .modal-dialog .modal-content .modal-body .personal-information .city-group {
    float: left;
    width: 100%;
    padding-left: 0px;
}
#inquiryModal .modal-dialog .modal-content .modal-body .room-and-date {
    padding: 25px 30px 0 30px;
    height: 150px;
}
#inquiryModal .modal-dialog .modal-content .modal-body .personal-information {
    padding: 0px 30px 20px 30px;
    padding-bottom: 0px;
}
.attractions h2 {
  font-size: 28px;
  font-weight: 300;
  margin-bottom: 35px;
  color: #4a4a4a;
  text-align: left;
}
.call-to-action .call-to-action-triangle {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 30px solid #ffffff;
  position: absolute;
  left: 50%;
  top: -30px;
  display: block;
  margin-left: -30px;
}
.supstitut {
    width: 45%;
    margin-right: 2.5%;
    margin-bottom: 5%;
    display: inline-block;
    vertical-align: top;
}
.supstitut-heading{
  color: #555;
  font-weight: bold;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
}
.supstitut ul {
    list-style: none;
    font-size: 16px;
    font-weight: normal;
    color: #939393;
    /* line-height: 16px; */
    padding-left: 0px;
    display: inline-block;
    vertical-align: top;
    margin-top: -5px;
}
.supstitut li {
  line-height: 22px;
}
.supstitut-img {
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-color: #dedede;
  border-right: 1px solid;
  font-size: 25px;
  color: #57bcca;
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
}
.right{
  float: right;
}
div#report {
    font-size: 18px;
    padding-left: 15px;
    margin-top: 15px;
    float: left;
}
.input-group.apoteka {
    width: 85%;
}
.attractions {
    padding-top: 120px;
}
.attractions {
    padding-top: 160px;
    padding-bottom: 85px;
    background-color: #f1f1f1;
}
#suggestions{
    /* border: 1px solid red; */
    width: 362px;
    padding-left: 0px;
    padding-top: 9px;
    margin-left: -32px;
    overflow:hidden;
    max-height: 350px;
    background-color: #302b2c;
}
#suggestions .inner{
  height:200px;
  overflow:auto;
  margin:15px -300px 15px 15px;
  padding-right:300px;
}
.dugme {
    float: left;
    width: 100%;
    text-align: left;
    background: none;
    padding-bottom: 3px;
    background-color: #fff;
    border: 0px;
    border-bottom: 1px solid #c6c6c6 !important;
    border-left: 7px solid #57bcca !important;
}
div#supstitutesContainer2 {
    height: 50px;
    height: 50px;
    height: 50px;
    border: 1px solid red;
    color: black;
}
#googleMapLack {
  margin-top: 25px;
}
.full {
  width: 85% !important;
}
.form-group {
    margin-bottom: 15px;
    margin-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
}
#inquiryModal .modal-dialog .modal-content .modal-footer {
    background-color: #f1f1f1;
    text-align: left;
    padding-top: 20px;
    border-top: none;
}
#modalRegister .modal-dialog .modal-content .modal-footer {
    background-color: #f1f1f1;
    text-align: left;
    padding-top: 20px;
    border-top: none;
}

.ng-container {
  min-height: 350px;
}

::selection {
  background: #590b85; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #590b85; /* Gecko Browsers */
}
.btn-info {
    color: #fff;
    background-color: #590b85;
    border-color: #460769;
}
.btn-info:hover {
  background-color: #460769;
}
.input-group .input-group-addon {
    border-right: 1px solid #460769;
}
.scroll-up-btn {
  background-color: #302b2c;
}
.scroll-up-btn:hover {
  background-color: #211e1e;
}
.container-fluid {
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-right: auto;
    margin-left: auto;
}
.carousel-indicators {
    bottom: -10px !important;
}
.full-wh.bg-section.z1 {
    background-image: url('../img/bg1.jpg');
}

.bg-section.z2 {
    background-color: rgba(220, 119, 0, 0.43);
}

.font-2 {
    font-family: 'Open Sans',sans-serif;
}

.intro-section-27 .l .logo {
      background-image: url('../img/logo3.png');
      width: 355px;
      height: 105px;
      margin-bottom: 10px;
      display: inline-block;
      padding-top: 60px;

  }
.pd-tb-40 {
    padding-top: 70px;
    padding-bottom: 70px;
}
.info-box9 .img a{
    color: #fff;
    cursor: pointer;
}
.info-box9 .img a:hover{
    color: #302b2c;
    cursor: pointer;
}
.title-sub.small {
    font-size: 18px;
    font-weight: bold;
}

.gray {
  width: 100%;
  height: 100%;
  padding-top: 150px;
  background-color: #eef1f5;
}

/* PROFIL SETTINGS */
.profile-sidebar {
    background-color: transparent;
    padding-bottom: 150px;
}

.portlet.light {
    padding: 12px 20px 15px;
    background-color: #fff;
    margin-bottom: 50px;
}
.profile-userpic {
    width: 100%;
    height: 200px;
    margin-bottom: -35px;
}
.profile-userpic img {
    float: none;
    margin: 0 auto;
    width: 75%;
    height: 75%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
}
.profile-usertitle-name {
    color: #6e398b;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.profile-usertitle-job {
    text-transform: uppercase;
    color: #93a3b5;
    font-size: 13px;
    font-weight: 800;
    margin-bottom: 7px;
    text-align: center;
}
.profile-usermenu .nav {
    margin-bottom: 0;
    margin-left: -10px;
    margin-right: -10px;
}
.profile-usermenu ul li.active a {
    color: #5b9bd1;
    background-color: #f6f9fb;
    border-left: 2px solid #5b9bd1;
    margin-left: -2px;
}
.profile-usermenu ul li a {
    color: #93a3b5;
    font-size: 16px;
    font-weight: 400;
}
.profile-usermenu ul li {

}
.profile-usermenu .nav > li > a {
    padding: 5px 5px;
  }
.control-label {
    margin-top: 1px;
    font-weight: 400;
}
label {
    font-weight: 400;
}
a, button, code, div, img, input, label, li, p, pre, select, span, svg, table, td, textarea, th, ul {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
}

.form-control {
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    background-color: #fff;
    border: 1px solid #c2cad8;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.form-control, output {
    font-size: 14px;
    line-height: 1.42857;
    color: #4d6b8a;
    display: block;
}
.portlet.light > .portlet-title > .caption {
    color: #666;
    padding: 10px 0;
}
.portlet > .portlet-title > .caption {
    float: left;
    display: inline-block;
    font-size: 18px;
    line-height: 18px;
    padding: 10px 0;
}
.portlet.light > .portlet-title > .nav-tabs > li.active > a, .portlet.light > .portlet-title > .nav-tabs > li:hover > a {
    margin: 0;
    background: 0 0;
    color: #333;
}
.portlet.light > .portlet-title > .nav-tabs > li > a {
    margin: 0;
    padding: 12px 13px 13px;
    font-size: 13px;
    color: #666;
}
.portlet > .portlet-title > .nav-tabs > li.active > a, .portlet > .portlet-title > .nav-tabs > li:hover > a {
    color: #333;
    background: #fff;
    border: 0;
}
.tabbable-line > .nav-tabs > li.active > a {
    border: 0;
    color: #333;
}
.portlet > .portlet-title > .nav-tabs > li > a {
    background: 0 0;
    margin: 5px 0 0 1px;
    border: 0;
    padding: 8px 10px;
    color: #fff;
}
.tabbable-line > .nav-tabs > li > a {
    background: 0 0 !important;
    border: 0;
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;
    color: #737373;
}

.nav-pills > li > a, .nav-tabs > li > a {
    font-size: 14px;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -ms-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}
.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}
.portlet-body {
    margin-top: 80px;
}
.nav.nav-tabs {
    float: right;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    color: #6e398b;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    cursor: default;
}
.portlet.light > .portlet-title > .nav-tabs > li.active > a, .portlet.light > .portlet-title > .nav-tabs > li:hover > a {
    margin: 0;
    background: 0 0;
    color: #6e398b;
    font-weight: bold;
    border-bottom: solid 3px #6e398b;
    outline: none;
}
#lokacija h4 {
    padding-left: 20px;
    margin-top: 5px;
    color: #6e398b;
}
#lokacija h3 {
  font-weight: 300;
}
#lokacija h2 {
  font-weight: bold;
}
#lokacija {
  margin-bottom: 25px;
}
#vreme h4 {
    padding-left: 30px;
    margin-top: 5px;
    color: #6e398b;
}
#vreme h3 {
  font-weight: 300;
}
#vreme h2 {
  font-weight: bold;
}
#vreme {
  margin-bottom: 25px;
}
#suggestions {
    width: 355px;
    margin-left: -30px;
}
.newsletter1 .form-field .btn {
    position: absolute;
    top: 8px;
    right: 4px;
    border-radius: 2px;
}
.well {
  margin-top: -25px;
}
.alert {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #d20000;
  border: 1px solid #b70101;
  color: #fff;
  margin-left: 0px;
  font-size: 16px;
}
.alert:hover {
  background-color: #b70101;
}
.profile-userpic {
    width: 100%;
    height: 200px;
    margin-bottom: -35px;
}
.profile-userpic2 img {
    float: none;
    margin: 0 auto;
    width: 45%;
    height: 45%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
}
.profile-usertitle-name {
    color: #6e398b;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}
.profile-usertitle-job {
    text-transform: uppercase;
    color: #93a3b5;
    font-size: 10px;
    margin-top: -5px;
    font-weight: 800;
    margin-bottom: 7px;
    text-align: center;
}
.ng-binding {
    float: left;
    text-transform: capitalize;
    font-size: 16px;
    color: #93a3b5;
    margin-right: 5px;
}
.prijatelji {
    padding-left: 30px;
    margin-top: 15px;
}
#toast-container > div {
    margin: 0 0 6px;
    padding: 25px 25px 25px 50px !important;
    width: 300px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    background-position: 15px center;
    background-repeat: no-repeat;
    -moz-box-shadow: 0 0 12px #999999;
    -webkit-box-shadow: 0 0 12px #999999;
    box-shadow: 0 0 12px #999999;
    color: #ffffff;
    opacity: 0.8;
}