<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SafetyApp | Hackaton 2016.</title>

    <!-- Bootstrap -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap 3 Date Picker -->
    <link href="bower_components/bootstrap-3-datepicker/dist/css/bootstrap-datepicker.min.css" rel='stylesheet' type='text/css'>

    <!-- Google Open Sans Font -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>

    <!-- Font Awesome -->
    <link href="bower_components/font-awesome/css/font-awesome.min.css" rel='stylesheet' type='text/css'>

    <!-- Animate Css -->
    <link href="bower_components/animate.css/animate.min.css" rel='stylesheet' type='text/css'>

    <!-- Simple Line Icons -->
    <link href="bower_components/simple-line-icons/css/simple-line-icons.css" rel='stylesheet' type='text/css'>

    <!-- Style -->
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/styles_edit.css">
    <link rel="stylesheet" href="bower_components/angular-notify/angular-notify.css">


    <!-- Toaster -->
    <link href="css/toaster.css" rel="stylesheet" />

</head>
<body ng-app="safetyApp">

	<!--Navigation Top start-->
	<section ng-controller='HeaderCtrl' class="top-navbar container navbar-fixed-top" ng-show='showNavbar()'>
	    <nav class="navbar navbar-default" id="navigation-top">
	        <div class="container-fluid">
	            <div class="navbar-header">
	                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
	                    data-target="#bs-example-navbar-collapse-1">
	                    <span class="sr-only">Toggle navigation</span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                </button>
	                <!--Brand / Logo start-->
	                <a class="navbar-brand scroll-to" style="cursor:pointer" ng-click="go('main')">
	                    <img src="img/logo2.png" class="img-responsive" alt="Moj Apotekar"/>
	                </a>
	                <!--Brand / Logo end-->
	            </div>
	            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	                <!-- Nav-Links start -->
	                <ul class="nav navbar-nav navbar-right">
	                    <li class="active"><a class="scroll-to" ng-click="go('app')">Lokacija</a></li>
	                    <li><a ng-click="go('profil')">Profil</a></li>
	                    <li><a class="show-inquiry-modal" ng-click="logout()">Logout</a></li>
                        <li><div class="btn-group" uib-dropdown dropdown-append-to-body>
                            <button id="btn-append-to-body" type="button" class="btn btn-primary" uib-dropdown-toggle>
                                Dropdown on Body <span class="caret"></span>
                            </button>
                            <ul uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
                                <li role="menuitem" ng-repeat="notification in notifications">
                                    <a href=""><span ng-bind="notification.first_name"></span><span ng-bind="notification.last_name"></span> is in danger</a>
                                </li>
                            </ul>
                        </div></ul>

                    </ul>
	                <!-- Nav-Links end -->
	            </div>
	        </div>
	    </nav>
	</section>
	<!--Navigation Top end-->

    <div ui-view>
    	<div ></div>
    </div>


    <!--Footer start-->
    <footer class="footer"  ng-controller='HeaderCtrl' id="sc-footer" ng-show='showNavbar()'>
        <a ng-click="goToTop()" class="scroll-to scroll-up-btn"><i class="fa fa-angle-up"></i></a>

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class="footer-copyright">
                        &copy; 2016. Safety App. Sva prava zadržana.
                    </p>
                </div>
                <div class="col-md-6">
                    <ul class="footer-social-media">
                        <li><a href="#"><i class="fa fa-twitter fa-fw"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus fa-fw"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook fa-fw"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!--Footer end-->

</body>

<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-resource/angular-resource.min.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="bower_components/lodash/dist/lodash.min.js"></script>
<script src="bower_components/angular-simple-logger/dist/angular-simple-logger.min.js"></script>
<script src="bower_components/angularjs-geolocation/dist/angularjs-geolocation.min.js"></script>
<script src="bower_components/angular-notify/angular-notify.js"></script>
<script src="bower_components/angular-ui-bootstrap/src/timepicker/timepicker.js"></script>
<link href="bower_components/angular-ui-bootstrap/src/timepicker/timepicker.css" rel="stylesheet" />
<script src="bower_components/angular-ui-bootstrap/src/position/position.js"></script>
<link href="bower_components/angular-ui-bootstrap/src/position/position.css" rel="stylesheet" />

<script src="bower_components/angular-ui-bootstrap/src/dropdown/dropdown.js"></script>

<script src="scripts/app.js"></script>
<script src="scripts/controllers/login.js"></script>
<script src="scripts/controllers/main.js"></script>
<script src="scripts/controllers/header.js"></script>
<script src="scripts/controllers/register.js"></script>
<script src="scripts/controllers/notif.js"></script>
<script src="scripts/controllers/profil.js"></script>
<script src="scripts/factory/httpFactory.js"></script>
<script src="scripts/factory/notificationFactory.js"></script>
<script src="scripts/factory/authInterceptor.js"></script>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="bower_components/jquery/dist/jquery.min.js"></script>

<script src="bower_components/jquery-placeholder/jquery.placeholder.min.js"></script>
<script src="bower_components/waypoints/lib/jquery.waypoints.min.js"></script>
<script src="bower_components/jquery-animatenumber/jquery.animateNumber.min.js"></script>
<script src="bower_components/bootstrap-3-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>


<script src="js/custom.js"></script>
<script src="scripts/controllers/register.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCmCDM5fQb3R36AUl93Ya18ijn4SVqcMVA&libraries=places" async defer></script>

</html>