<!--Map start-->

<div id="map_canvas" style="height: 700px">

</div>


<!--Map end-->


<!-- Modal login-->
<div class="modal fade" id="notifModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Potvrdi dolazak</h4>
            </div>

            <div class="modal-body">
                <!-- Modal footer start -->
                <div class="modal-footer">

                    <div>Jeste li se vratili?</div>

                    <div id="report"></div>
                    <button name="submitFormButton" type="submit" ng-click="main.confirmReturn()" class="btn btn-color1 right">Potvrdi povratak</button>
                </div>
                <!-- Modal footer end -->



            </div>
        </div>
    </div>
</div>

<!-- Modal end -->

<!--Start content before Map-->
<div class="content-after-slider">

    <!--Search for medicine-->
    <section class="call-to-action container" id="sc-call-to-action">
        <div class="row">

            <div class="col-md-offset-4 col-md-4">
                <div class="call-to-action-box text-center">
                    <div class="call-to-action-triangle"></div>
                    <div class="row">
                        <div class="col-md-offset-1 col-sm-10 col-sm-offset-1">
                            <div class="input-group crvena">
                                <span class="input-group-addon"><i class="fa fa-pin"></i></span>
                                <input type="text" class="form-control" placeholder="Adresa" id="search">
                                <span class="input-group-btn">
                                    <button class="btn btn-default btn-info" id="searchButton" type="button" data-toggle="collapse" ng-click='main.setTimer()' href="#collapseExample">Prikaži putanju</button>
                                </span>
                            </div>
                            <div id="suggestions" class="inner"></div>
                        </div>
                    </div>                
                </div>
            </div>
        </div>
    </section>
    <!--Search for medicine end-->

    <!--Supstituti start-->
    <section class="attractions" id="sc-attractions">
        <div class="container">

            <div class="collapse" id="collapseExample">
              <div class="well">
                <div class="row">
                    <div id="lokacija" class="col-lg-4 col-md4  col-xs-12">
                        <h2>Najkraća putanja <span></span> <span class="crvena"></span></h2>
                        <hr />
                        <h3><i class="fa fa-map-marker"></i> Početna lokacija<span></span> <span class="crvena"></span></h3>
                        <h4 ng-bind="main.startAddress"></h4>
                        <br />
                        <h3><i class="fa fa-map-marker"></i> Krajnja lokacija<span></span> <span class="crvena"></span></h3>
                        <h4 ng-bind="main.endAddress"></h4>
                    </div>

                    <div id="vreme" class="col-lg-4 col-md4  col-xs-12">
                        <h3><i class="fa fa-clock-o"></i> Procenjeno vreme dolaska<span id=""></span> <span id="" class="crvena"></span></h3>
                        <h4>{{main.formatedDuration|date:'HH:mm:ss'}}</h4>
                    </div>

                    <!-- DIV NEXT TO SUPSTITUTES -->
                    <div class="col-lg-4 col-md-4">
                        <h2>Uzbuna!<span id="nazivTrazenogLeka"></span> <span id="cenaTrazenogLeka" class="crvena"></span></h2>
                        <hr />

                        <button ng-click="sendDangerSignal()" class="btn alert"><i class="fa fa-exclamation-triangle"></i> Uzbuna!</button>
                        <button ng-click="sendDangerSignal()" class="btn alert"><i class="fa fa-phone"></i> Lažni poziv!</button>
                    </div>

                </div> 
              </div>
            </div>
        </div>      
    </section>
    <!--Supstituti end-->
    

    <!--Location start-->
    <section class="location" id="sc-location">
        <div class="location-map-container" id="location-map"></div>
        
    </section>
    <!--Location end-->
</div>

<!-- Modal extend-->
<div class="modal fade" id="extendModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Produzi Vreme</h4>
            </div>

            <div class="modal-body">
                <div>
                    <uib-timepicker ng-model="mytime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></uib-timepicker>
                </div>


                <!-- Modal footer start -->
                <div class="modal-footer">

                    <div id="report"></div>
                    <button name="submitFormButton" type="submit" ng-click="updateTime()" class="btn btn-color1 right">Prihvati</button>
                    <button name="" class="btn btn-color1 right" ng-click="cancelExtend()">Otkazi</button>

                </div>
                <!-- Modal footer end -->



            </div>
        </div>
    </div>
</div>

<!-- Modal end -->
<!--End content before Map-->
