<div class="cg-notify-message cg-notify-message-right" ng-controller="NotifCtrl as notif">
    <div><span ng-bind="firstName"></span><span ng-bind="lastName"></span> je potencijalno u opasnosti</div>

    <button ng-click="notif.confirm(friend_in_danger)">Potvrdi</button>
    <button ng-click="$close()">Prekini</button>
</div>