<ng-form>
<div class="gray">
    <div class="row">

    <div class="col-md-offset-1 col-md-2">
        <!-- BEGIN PROFILE SIDEBAR -->
        <div class="profile-sidebar">
            <!-- PORTLET MAIN -->
            <div class="portlet light profile-sidebar-portlet">
                <!-- SIDEBAR USERPIC -->
                <div class="profile-userpic">
                    <img src="img/profile.jpg" class="img-responsive" alt=""> </div>
                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name"> Marko Petrović </div>
                    <div class="profile-usertitle-job"> Developer </div>
                </div>
                <!-- END SIDEBAR USER TITLE -->
                
                <!-- SIDEBAR MENU -->
                <div class="profile-usermenu">
                    <ul class="nav">
                        <li ng-class="{active: $state.includes('profile.dashboard')}">
                            <a ui-sref="profile.dashboard">
                                <i class="icon-home"></i> Pregled </a>
                        </li>
                        <li ng-class="{active: $state.includes('profile.account')}">
                            <a ui-sref="profile.account">
                                <i class="icon-settings"></i> Podešavanja naloga </a>
                        </li>
                        <li ng-class="{active: $state.includes('profile.help')}">
                            <a ui-sref="profile.help">
                                <i class="icon-info"></i> Pomoć </a>
                        </li>
                    </ul>
                </div>
                <!-- END MENU -->
            </div>
            <!-- END PORTLET MAIN -->
          
        </div></div>


    <div class="col-md-8">
        <div class="portlet light">
            <div class="portlet-title tabbable-line">
                <div class="caption caption-md">
                    <i class="icon-globe theme-font hide"></i>
                    <span class="caption-subject font-blue-madison bold uppercase">Podešavanja profila</span>
                </div>
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#" data-target="#tab_1_1" data-toggle="tab">Lične informacije</a>
                    </li>
                    <li>
                        <a href="#" data-target="#tab_1_2" data-toggle="tab">Promeni lozinku</a>
                    </li>
                    <li>
                        <a href="#" data-target="#tab_1_3" data-toggle="tab">Pozovi prijatelje</a>
                    </li>
                </ul>
            </div>
            <div class="portlet-body">
                <div class="tab-content">
                    <!-- PERSONAL INFO TAB -->
                    <div class="tab-pane active" id="tab_1_1">
                        <form role="form" action="#">
                            <div class="form-group">
                                <label class="control-label">Ime</label>
                                <input type="text" placeholder="Marko" class="form-control" /> </div>
                            <div class="form-group">
                                <label class="control-label">Prezime</label>
                                <input type="text" placeholder="Petrović" class="form-control" /> </div>
                            <div class="form-group">
                                <label class="control-label">Email</label>
                                <input type="text" placeholder="m.petrovic@gmail.com" class="form-control" /> </div>
                            <div class="form-group">
                                <label class="control-label">Zanimanja</label>
                                <input type="text" placeholder="Web Developer" class="form-control" /> </div>
                            <div class="form-group">
                                <label class="control-label">O meni</label>
                                <textarea class="form-control" rows="3" placeholder="Mlad, ambiciozan. Student FON-a, developer i preduzetnik..."></textarea>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Veb sajt</label>
                                <input type="text" placeholder="http://www.m-petrovic.com" class="form-control" /> </div>
                            <div class="margiv-top-10">
                                <a href="#" class="btn btn-default btn-info"> Sačuvan izmene </a>
                                <a href="#" class="btn btn-default btn-info"> Obriši </a>
                            </div>
                        </form>
                    </div>
                    <!-- END PERSONAL INFO TAB -->
                    <!-- CHANGE AVATAR TAB -->
                    <div class="tab-pane" id="tab_1_2">
                        <form action="#">
                            <div class="form-group">
                                <label class="control-label">Trenutna lozinka</label>
                                <input type="password" class="form-control" /> </div>
                            <div class="form-group">
                                <label class="control-label">Nova lozinka</label>
                                <input type="password" class="form-control" /> </div>
                            <div class="form-group">
                                <label class="control-label">Nova lozinka</label>
                                <input type="password" class="form-control" /> </div>
                            <div class="margin-top-10">
                                <a href="#" class="btn btn-default btn-info"> Promeni lozinku </a>
                                <a href="#" class="btn btn-default btn-info"> Obriši </a>
                            </div>
                        </form>
                    </div>
                    <!-- END CHANGE AVATAR TAB -->
                    <!-- CHANGE PASSWORD TAB -->
                    <div class="tab-pane" id="tab_1_3">
                        <div class="row" ng-repeat="contact in contacts track by $index">
                            <div class="col-md-3">
                                <div class="profile-userpic2"><img src="img/user2.png" class="img-responsive" alt=""></div>
                                <div class="profile-usertitle">
                                    <div class="profile-usertitle-name"> {{contact.user.first_name}} {{contact.user.last_name}} </div>
                                </div>
                            </div>
                        </div>

                            <div class="form-group">
                                <form>
                                    <label class="control-label">Pozovi prijatelja</label>
                                    <input type="text" placeholder="Ukucaj ime prijatelja" class="form-control" ng-model="name"/> </div>
                                    <button type="submit" ng-click="searchContact(name)" class="btn btn-default btn-info">Pretraži</button>
                                </form>
                            </div>
                            
                            <ol class="prijatelji">
                                <li ng-repeat="result in searchRes track by $index" ng-click="addContact(result.user.id)">
                                    <div>{{result.user.first_name}}</div>
                                    <div> {{result.user.last_name}}</div>
                                </li>
                            </ol>
                                
                                
                            </div>
                    </div>
                    <!-- END CHANGE PASSWORD TAB -->
                    
                </div>
            </div>
        </div>
    </div>
</div>


</div>   
</ng-form>
