<div class="cg-notify-message-bottom">
    <div>Arrival Excpected in: </div>
    <div><span ng-bind="secondsLeft"></span></div>
    <button ng-click="extendTimer()">Produzi</button>
    <button ng-click="cancelTimeout()">Ponisti</button>
</div>